*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-image: url('https://w.forfun.com/fetch/e2/e29735d2e532b4aeb8ee2417816fa776.jpeg');
}
header{
  
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  
}
header img{
  width: 100px;
  margin-top: 10px;
 
}
.obsh{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.box{
  background-color:  rgba(0, 0, 0, 0.87);
  width: 450px;
  height: 350px;
  margin-left: 150px;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px double red;
  overflow: hidden;
}
.box img{
  width: 100%;
  height: 280px;
  border-radius: 10px;
}
a{
  font-size: 20px;
  margin-left: 15px;
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: red;
} 
.pusto{
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.884);
  justify-content: space-between;
}
.pusto input {
  text-decoration: none;
  border: none;
  font-size: 20px;
  color: #fff;
  border-radius: 20px;
  padding: 15px;
  background-image: url('https://i.pinimg.com/originals/9f/75/26/9f75263a0ad0d7395f8b9148de438ac5.gif');
  background-size: cover;
}
.pusto nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.pusto img {
  width: 50px;
}
.pusto nav a {
  color: #fff;
  text-decoration: none;
}
.pusto nav a:hover {
  color: red;
}
.baklan p{
  color:rgba(255, 0, 0, 0.514);
  background-color: black;
  padding: 10px;

}
